{{!< default}}
<div class="container clearfix">
  <main role="main" class="content">
    <div id="special-search">
      <form>
        <input id="search-field" />
        <input type="submit" value="search">
      </form>
      <section id="results"></section>
    </div>
  </main>
  <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
  <script src="{{asset 'js/ghosthunter/jquery.ghostHunter.min.js'}}"></script>
  <script>
    var searchField = $('#search-field').ghostHunter({
      results: '#results',
      onKeyUp: true,
      onComplete: function (results) {
        // console.log(results);
      }
    });
    function clearResults(){
      searchField.clear();
    };
  </script>
</div>
